version: "4.8"
services:
  api:
    build: .
    env_file:
      - .env
    command: uv run main.py
    ports:
      - "${APP_PORT}:8000"
    depends_on:
      - redis
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535

  worker:
    build: .
    env_file:
      - .env
    command: sh -c Xvfb :99 -ac 2>/dev/null & uv run celery --app src.utils.celery_app worker --loglevel=INFO -c 1
    depends_on:
      - redis
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535

  beat:
    build: .
    env_file:
      - .env
    command: uv run celery --app src.utils.celery_app beat --loglevel=INFO
    depends_on:
      - redis
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
  
  monitor:
    build: .
    env_file:
      - .env
    command: uv run celery --app src.utils.celery_app flower --loglevel=INFO --port=5000
    ports:
      - "${FLOWER_PORT}:5000"
    depends_on:
      - redis
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    command: node .output/server/index.mjs
    depends_on:
      - api
    restart: always

  redis:
    image: redis:7-alpine
    restart: always
    command: ["redis-server", "--port", "6379"]

