version: "4.8"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.simple
    env_file:
      - .env
    command: uv run main.py
    ports:
      - "${APP_PORT}:${APP_PORT}"
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    env_file:
        - .env
    ports:
      - "${FRONTEND_PORT}:3000"
    command: node ./interface/.output/server/index.mjs
    depends_on:
      - api
    restart: always

  monitor:
    build:
      context: .
      dockerfile: Dockerfile.simple
    env_file:
      - .env
    command: celery -A src.utils.celery_app flower
    ports:
      - "${FLOWER_PORT}:${FLOWER_PORT}"
    restart: always

  # redis:
  #   image: redis:7-alpine
  #   restart: always
  #   command: ["redis-server", "--port", "6379"]
  #   volumes:
  #     - redis_data:/data

#
# volumes:
#   redis_data:
