version: "4.8"
services:
  api:
    build: .
    env_file:
      - .env
    command: uv run main.py
    ports:
      - "${APP_PORT}:8000"
    depends_on:
      - redis
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    env_file:
        - .env
    ports:
      - "3000:3000"
    command: node ./interface/.output/server/index.mjs
    depends_on:
      - api
    restart: always

  redis:
    image: redis:7-alpine
    restart: always
    command: ["redis-server", "--port", "6379"]
    volumes:
      - redis_data:/data


volumes:
  redis_data:
